body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

select {
  color: #000;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #555;
  display: block;
  letter-spacing: 0;
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
  height: 2.5em;
  text-align: left;
}

input {
  border-radius: 5px;
  border: 1px solid #555;
  height: 1.2em;
  margin: 0;
  display: block;
  padding: 10px;
  min-width: 0;
  box-sizing: content-box;
  font-size: 17px;
}

input:invalid {
  background-color: #ffdddd;
}

.form-control label,
.form-control input,
.form-control textarea,
.form-control select {
  font: inherit;
  width: 90%;
  display: block;
}

.form-control label {
  margin-bottom: 0.5rem;
}

.form-control {
  margin-bottom: 1rem;
}

.form-actions button,
.btn {
  font: inherit;
  border-radius: 3px;
  padding: 0.25rem 1rem;
  margin-right: 1rem;
  height: 2rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
  color: #000;
  cursor: pointer;
}

.btn-primary {
  background: #7ece7e;
  border: 1px solid #7ece7e;
}

.btn-primary-disabled {
  border: 1px solid #7ece7e;
  background-color: #7ece7e;
  color: #666666;
  pointer-events: none;
}

.btn-primary:hover {
  background: #6cb36c;
  border-color: #6cb36c;
}

.btn-cancel {
  background: rgb(177, 177, 177);
  border-color: rgb(177, 177, 177);
}

.btn-cancel:hover {
  background: rgb(143, 143, 143);
  border-color: rgb(143, 143, 143);
}
