body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

select {
  color: #000;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #555;
  display: block;
  letter-spacing: 0;
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
  height: 2.5em;
  text-align: left;
}

input {
  border-radius: 5px;
  border: 1px solid #555;
  height: 1.2em;
  margin: 0;
  display: block;
  padding: 10px;
  min-width: 0;
  box-sizing: content-box;
  font-size: 17px;
}

button {
  background: #7ece7e;
  font: inherit;
  border: 1px solid #7ece7e;
  border-radius: 3px;
  padding: 0.25rem 1rem;
  margin-right: 1rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
  color: white;
  cursor: pointer;
}

button:hover,
button:active {
  background: #6cb36c;
  border-color: #6cb36c;
}

.form-control label,
.form-control input,
.form-control textarea,
.form-control select {
  width: 90%;
  display: block;
}

.form-control label {
  margin-bottom: 0.5rem;
}

.form-control {
  margin-bottom: 1rem;
}

.form-actions button,
.btn {
  font: inherit;
  border-radius: 3px;
  padding: 0.25rem 1rem;
  margin-right: 1rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
  color: white;
  cursor: pointer;
}
